*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    /* padding: 15px; 
    font-size: 0.7em;
} */
body{
   width: 100vw;
   display: grid;
   /* align-items: center; */
   justify-content: center;
   
    
   
}

.hide{
    display: none;
}

/* #posts-container{
    position: absolute;
    display: flex;
    background: #f3f3f3;
    flex-direction: row;
    width:100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#posts-container>div{
    position: relative;
    background: #fff;
    margin-top: 8px;
    width: 180px; 
    height: 180px;
    border-radius: 5px;
    padding: 8px;
    
} */
#posts-container{
   background: #d8d3d3;
 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0.5em;
    gap:0.5em;
}

#posts-container>div{
    background: #fff;    
    height: 195px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  
}

img{
    width: 120px;

    }

  
